<div class="ui container">
  <form class="ui large form raised segment">
    <div class="field">
      <h3>Search Reddit</h3>
      <input type="text" (keydown.enter)="searchForSubreddits(searchStr.value)" #searchStr name="searchStr" placeholder="Search Reddit...">
    </div>
    <button class="ui button" (click)="searchForSubreddits(searchStr.value)" type="button">Go!</button>
  </form>
</div>

<div *ngIf="subreddits" class="ui container output">
  <display-subreddits *ngFor="let sub of subreddit" [subreddits]="subreddits" class="output"></display-subreddits>
</div>