<div class="ui container" *ngIf="searched == false" id="alert">
  <div class="ui yellow message">
      <div class="header">
          Please Enter a Search
      </div>
  </div>
</div>

<div class="ui container">
  <form class="ui large form raised segment">
    <div class="field">
      <h3>Search For A Subreddit</h3>
      <input type="text" (keydown.enter)="searchForSubreddits(searchStr.value)" #searchStr name="searchStr" placeholder="Search Reddit...">
    </div>
    <button class="ui button" (click)="searchForSubreddits(searchStr.value)" type="button">Go!</button>
  </form>
</div>

<div *ngIf="subreddits" class="ui container output">
  <div class="ui divider"></div>
  <display-subreddits *ngFor="let subreddit of subreddits.children" [subreddit]="subreddit" class="output"></display-subreddits>
</div>