#scoreLabel{
    color: grey;
}
#commentLabel{
    color: grey;
}
.content{
    color: black;
}
#subredditLabel:hover{
    background-color: lightgrey;
}
.selection:hover{
    background-color: rgb(240, 251, 255);
}