<div class="ui container">
  <form class="ui large form raised segment">
    <div class="field">
      <h3>Search Reddit</h3>
      <input type="text" (keydown.enter)="searchReddit(searchStr.value, limit.value, sort.value)" #searchStr name="searchStr" placeholder="Search Reddit...">
    </div>
    <div class="two fields">
      <div class="field">
        <label>Limit</label>
        <select class="ui fluid dropdown" #limit>
          <option *ngFor="let limit of LimitOptions">{{limit}}</option>
        </select>
      </div>
      <div class="field">
        <label>Sort Options</label>
        <select class="ui fluid dropdown" #sort>
          <option *ngFor="let sort of SortOptions">{{sort}}</option>
        </select>
      </div>
    </div>
    
    <button class="ui button" (click)="searchReddit(searchStr.value, limit.value, sort.value)" type="button">Go!</button>
  </form>
</div>


<div *ngIf="posts" class="ui container output">
  <div class="ui divider"></div>
  <display-results *ngFor="let post of posts.children" [post]="post" class="output"></display-results>
</div>



<!-- 

      <div class="ui form">
      <div class="inline fields">
        <label>Sort By</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="sort" checked="checked" value="hot">
            <label>Hot</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="sort" value="relevant">
            <label>Relevant</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="sort" value="new">
            <label>New</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox" >
            <input type="radio" name="sort" value="top">
            <label>Top</label>
          </div>
        </div>
      </div>
    </div>

-->