<a *ngIf="subreddit" target="_blank" href="https://reddit.com{{subreddit.data.url}}">
  <div class="ui divided selection list">
    <div class="item">
      <h1>{{subreddit.data.display_name}}</h1>
      <div class="middle aligned content">
        <p>{{subreddit.data.public_description}}</p>
      </div>
      <div class="ui mini grey statistic">
        <div class="value">
          {{subreddit.data.subscribers}}
        </div>
        <div class="label" id="subLevel">
          Subscribers
        </div>
      </div>
    </div>
  </div>
</a>
<div class="ui divider"></div>