<a *ngIf="subreddit" target="_blank" href="https://reddit.com{{subreddit.data.url}}">
  <div class="ui divided selection list">
    <div class="item">
      <h1>{{subreddit.data.display_name}}</h1>
      <div class="middle aligned content">
        <p>{{subreddit.data.public_description}}</p>
      </div>
      <div class="ui mini grey statistic">
        <div class="value">
          {{subreddit.data.subscribers}}
        </div>
        <div class="label" id="subLevel">
          Subscribers
        </div>
      </div>
      <div class="extra">
        <a href="">
          <button type="button" class="ui right floated button" [routerLink]="['home']">Top Post</button>
        </a>
      </div>
    </div>
  </div>
</a>
<div class="ui divider"></div>


<!--

<div class="ui tiny statistic">
  <div class="value">
    2,204
  </div>
  <div class="label">
    Views
  </div>
</div>

-->